section {
	padding: 3rem;
}

.masuk {
	text-decoration: none;
	display: inline-block;
	outline: none;
	cursor: pointer;
	border: none;
	border-radius: .5rem;
	font-size: 100%;
	font-weight: bold;
	padding: 1rem 2rem;
	margin-top: 2.5rem;
	background: #00b900;
	color: white;
}
.masuk:hover {
	background: #026f02;
}

.vector {
	user-select: none;
	position: absolute;
	z-index: -1;
	bottom: 0;
	right: 0;
	display: block;
	margin: -5rem auto 0;
	width: 80%;
	max-width: 600px;
	opacity: 0.5;
}