svg {
  width: 1.5rem;
}

.button {
  outline: none;
  display: flex;
  cursor: pointer;
  padding: .5rem;
  border: none;
}

.keluar {
  font-weight: bold;
  font-size: 30%;
  background: #00b900;
  color: #fff;
}

.shadow {
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06)
}

.subtitle {
  margin: 5rem 0 2rem;
  font-weight: normal;
  font-size: x-large;
  border-bottom: 1px solid #cccccc;
}

.menus {
  padding: 0;
  margin: 0 -2rem;
}

.menu-item {
  font-size: 90%;
  display: flex;
  align-items: center;
  margin: .5rem;
  padding: 1rem;
  border-radius: .5rem;
  background: #fff;
}
.menu-item:hover {
  background: #f0f0f0;
}
.menu-item .title {
  font-weight: 800;
  margin-right: 1rem;
}
.menu-item .desc {
  font-size: 80%;
  font-weight: normal;
  margin-right: 1rem;
  color: #777777;
}
.menu-item .desc svg {
  width: .8rem;
  height: auto;
  margin: 0 0 -0.1rem 0;
}
.menu-item .price {
  margin: 0 .5rem 0 auto;
}
.menu-item .add {
  padding: .2rem;
  border-radius: 100%;
  background: #00b900;
}
.menu-item .add svg {
  width: 1.2rem;
}
.menu-item .button:hover {
	background: #026f02;
}


.cart-spacing {
  margin-top: 6rem;
}

.cart, .full-cart {
  position: fixed;
  padding: 1rem;
  background: white;
  left: 0;
}

.full-cart {
  top: 0;
  right: 0;
  height: 100%;
}
.full-cart .close {
  position: fixed;
  top: .5rem;
  right: 1rem;
  cursor: pointer;
}
.full-cart .close svg {
  width: 2rem;
}
.full-cart .close:hover {
  transform: scale(1.25);
}

.full-cart .list {
  height: calc(100vh - 12rem);
  padding: 2rem 0;
  overflow: auto;
}
.full-cart .list .list-item {
  display: flex;
  align-items: center;
  padding: .5rem 0;
  border-bottom: 1px dotted #bbbbbb;
}
.full-cart .list .list-item:hover {
  border-bottom: 1px solid #222;
}
.full-cart .list .list-item span {
  font-size: 80%;
  font-weight: bold;
  margin-left: auto;
}
.full-cart .list .list-item .decrement {
  padding: 0;
  margin-left: .5rem;
  border-radius: 100%;
  background: tomato;
}
.full-cart .bill {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  margin: 2rem;
}
.full-cart .bill .checkout {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: 0 1rem;
  border-radius: .5rem;
  background: #00b900;
  color: white;
}
.full-cart .bill .checkout svg {
  margin-left: .5rem;
}

.cart {
  bottom: 1rem;
  width: calc(100% - 5rem);
  display: flex;
  align-items: center;
  margin: 1rem 1rem 0;
  padding: 1rem 1.5rem;
  border-radius: .5rem;
}
.cart .desc {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: large;
}
.cart .desc div {
  margin: 0 1rem 0 0;
}
.cart .desc div + div {
  margin: 0 1rem 0 auto;
}
.cart .see-cart {
  display: inline-flex;
  padding: .5rem;
  margin-left: auto;
  border-radius: 100%;
  background: #00b900;
}

.pop {
  animation: pop 0.25s ease-in-out;
}
@keyframes pop {
  50%  {
    transform: scale(1.25);
  }
}